<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Wordgame Dictionary Tool</title>
<meta name="viewport" content="width=device-width, initial-scale=1">     
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   
    <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}


    function fetchWords() {
        $.getJSON($SCRIPT_ROOT + '/_findwords', {
            hand: $('input[name="hand"]').val(),
            prefix: $('input[name="prefix"]').val(),
            suffix: $('input[name="suffix"]').val(),
            required: $('input[name="required"]').val()
        }, responseHandler );
        return false;
    }


    function responseHandler(data) {
            $('table#results tbody > tr').remove();
        $.each(data.words, function(i,item) {
                $('<tr>').append(
                $('<td>').text(item.word),
                $('<td>').text(item.score),
                $('<td>').text(item.length)
                ).appendTo('table#results tbody');

        });
    }



    $(function() {
        $('button#lookup').bind('click', fetchWords);
    });

    </script>
</head>

<body>
    <div class=container>
        <div class=header>
            <h1 class=text-center>Wordgame Dictionary Tool</h1>
        </div>
        
    <hr>
    <div class=row>
    <div class=col-md-4>
    <form role=form class=form-horizontal>
        <div class=form-group>
            <label for=hand class="col-sm-3 control-label">Hand</label>
            <div class=col-sm-9>
                <input type=text class=form-control name=hand>
            </div>
        </div>
        <div class=form-group>
            <label for=prefix class="col-sm-3 control-label">Prefix</label>
            <div class=col-sm-9>
                <input type=text class=form-control name=prefix>
            </div>
        </div>
        <div class=form-group>
            <label for=suffix class="col-sm-3 control-label">Suffix</label>
            <div class=col-sm-9>
                <input type=text class=form-control name=suffix>
            </div>
        </div>
        <div class=form-group>
            <label for=required class="col-sm-3 control-label">Required</label>
            <div class=col-sm-9>
                <input type=text class=form-control name=required>
            </div>
        </div>
        <div class=form-group>
            <div class="col-sm-offset-3 col-sm-9">
                <button type=submit id=lookup class="btn btn-default">Lookup</button>
            </div>
        </div>
    </div>
    <div class=col-md-8>
    <table id=results class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>Word</th>
            <th>Score</th>
            <th>Length</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
    </div>
    </div>
</body>

</html>

